<!DOCTYPE html>
<html lang="en" data-layout-decorate="layouts/default-layout">
  <head>
    <meta charset="UTF-8" data-th-remove="all" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" data-th-remove="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1" data-th-remove="all" />
    <meta name="description" content="Spring Roo, a next-generation rapid application development tool for Java developers. With Roo you can easily build full Java applications in minutes." data-th-remove="all" />
    <meta name="author" content="Spring Roo development team" data-th-remove="all" />

    <link rel="shortcut icon" href="../../static/public/img/favicon.ico" data-th-remove="all" />
    <link rel="apple-touch-icon" href="../../static/public/img/apple-touch-icon.png" data-th-remove="all" />

    <title data-th-text="#{label_create_entity(#{label_vet})}">
    Create Vet - petclinic - SpringRoo Application</title>

    <!--/* Bootstrap */-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" data-th-remove="all" />

    <!--/* IE10 viewport hack for Surface/desktop Windows 8 bug */-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css" data-th-remove="all" />

    <!--/* Font Awesome */-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" data-th-remove="all" />

    <!-- Select2 -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css" data-th-href="@{/webjars/select2/dist/css/select2.css}" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.7/select2-bootstrap.css" data-th-href="@{/webjars/select2-bootstrap-theme/dist/select2-bootstrap.css}" />

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/build/jquery.datetimepicker.min.css}" />

    <!--/* Bootswatch CSS custom */-->
    <link rel="stylesheet" type="text/css" href="../../static/public/css/theme.css" data-th-remove="all" />

    <!--/* Roo CSS */-->
    <link rel="stylesheet" type="text/css" href="../../static/public/css/springroo.css" data-th-remove="all" />

    <!--/* HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries */-->
    <!--/* WARNING: Respond.js doesn't work if you view the page via file:// */-->
    <!--/*[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" data-th-remove="all"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" data-th-remove="all"></script>
    <![endif]*/-->

  </head>
  <body id="body">

    <!-- HEADER -->
    <header role="banner">

        <!-- Main navbar -->
        <nav class="navbar navbar-default navbar-static-top">
         <div class="container">

            <!-- navbar-header -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!-- Brand logo -->
              <div class="organization-logo navbar-brand">
                <a title="petclinic" href="/">
                  <img alt="petclinic" data-th-src="@{/public/img/logo.png}" src="../../static/public/img/logo.png" />
                </a>
              </div>
              <!-- Name application -->
              <div class="application-name navbar-brand hidden-xs"><a href="/" data-th-href="@{/}">petclinic</a></div>

            </div>
            <!-- /navbar header -->

            <!-- menu -->
            <div id="mainnav" class="navbar-collapse collapse">

              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Menu 1 active</a></li>
                <li><a href="#">Menu 2</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu 3 dropdown<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Submenu 1</a></li>
                    <li><a href="#">Submenu 2</a></li>
                    <li><a href="#">Submenu 3</a></li>
                  </ul>
                </li>
              </ul>

              <!-- Language -->
              <ul class="nav navbar-nav navbar-right upper-nav languages">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true">
                    </span>&nbsp;<span class="hidden-sm" data-th-text="#{language_label}">Language</span><span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" id="languageFlags">
                   <li id="enFlag"><a href="?lang=en"><img class="flag" data-th-src="@{/public/img/en.png}" src="../static/public/img/en.png" alt="English">&nbsp;<span data-th-text="#{language_label_en}">English</span></img></a> </li>
                   <li id="esFlag"><a href="?lang=es"><img class="flag" data-th-src="@{/public/img/es.png}" src="../static/public/img/es.png" alt="Spanish">&nbsp;<span data-th-text="#{language_label_es}">Spanish</span></img></a> </li>
                  </ul>
                </li>
              </ul>
              <!-- User menu -->
              <ul class="nav navbar-nav navbar-right upper-nav session">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                    <span class="hidden-sm" data-sec-authentication="principal.username">User</span>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                   <li><a href="#"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                   &nbsp;<span data-th-text="#{label_profile}">Admin Profile</span></a></li>
                   <li><a href="#"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                   &nbsp;<span data-th-text="#{label_change_password}">Change password</span></a></li>
                   <li>
                     <form data-th-action="@{/logout}" action="/logout" method="post">
                       <button type="submit" class="btn btn-link">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                        <span data-th-text="#{label_logout }">Log out</span>
                       </button>
                     </form>
                   </li>
                 </ul>
                </li>
              </ul>
              <!-- User menu links -->
              <ul class="nav navbar-nav navbar-right upper-nav links">
                <li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                &nbsp;<span class="hidden-sm" data-th-text="#{label_contact}">Contact</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                &nbsp;<span class="hidden-sm" data-th-text="#{label_help}">Help</span></a></li>
              </ul>
           </div>
          </div>
        </nav>

        <!-- BANNER -->
        <div class="bg-header">
          <div class="jumbotron bg-banner">
              <div class="container">
                <h1 class="project-name">petclinic</h1>
                <p class="project-tagline" data-th-text="#{info_homepage_project}">Hello, this is your home page.</p>
              </div>
          </div>
        </div>

    </header>
    <!-- /HEADER -->

    <!--CONTAINER-->
    <div class="container bg-container">


      <!-- CONTENT -->
      <section data-layout-fragment="content">
        <div class="container-fluid content">
  	<!--
  	  Only the inner content of the following tag "section" is included
  	  within the template, in the section "content"
  	-->

          <h1 data-th-text="#{label_create_entity(#{label_vet})}">Create Vet</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${vet}" data-th-action="@{${(#mvc.url('VetsCollectionThymeleafController#create')).build()}}">

            <fieldset id="containerFields">
              <legend data-th-text="#{label_data_entity(#{label_vet})}">Vet data </legend>

<div class="form-group has-error has-feedback" data-z="ddfe12a4" id="vet-firstname-field" data-th-classappend="${#fields.hasErrors('firstName')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="firstName" class="col-md-3 control-label" data-th-text="#{label_vet_firstname}">firstName</label>
  <div class="col-md-3">
    <input id="firstName" name="firstName" data-th-value="*{{firstName}}" type="text" class="form-control" placeholder="firstName" data-th-placeholder="#{label_vet_firstname}" data-toggle="tooltip" aria-describedby="firstNameStatus" maxlength="30" size="30" />
      <span data-th-classappend="${#fields.hasErrors('firstName')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('firstName')}" aria-hidden="true"></span>
      <span id="firstName-error" class="help-block" data-th-if="${#fields.hasErrors('firstName')}" data-th-errors="*{firstName}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="d3caee3a" id="vet-lastname-field" data-th-classappend="${#fields.hasErrors('lastName')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="lastName" class="col-md-3 control-label" data-th-text="#{label_vet_lastname}">lastName</label>
  <div class="col-md-3">
    <input id="lastName" name="lastName" data-th-value="*{{lastName}}" type="text" class="form-control" placeholder="lastName" data-th-placeholder="#{label_vet_lastname}" data-toggle="tooltip" aria-describedby="lastNameStatus" required="required" maxlength="30" size="30" />
      <span data-th-classappend="${#fields.hasErrors('lastName')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('lastName')}" aria-hidden="true"></span>
      <span id="lastName-error" class="help-block" data-th-if="${#fields.hasErrors('lastName')}" data-th-errors="*{lastName}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="3c6d0a4" id="vet-address-field" data-th-classappend="${#fields.hasErrors('address')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="address" class="col-md-3 control-label" data-th-text="#{label_vet_address}">address</label>
  <div class="col-md-3">
    <input id="address" name="address" data-th-value="*{{address}}" type="text" class="form-control" placeholder="address" data-th-placeholder="#{label_vet_address}" data-toggle="tooltip" aria-describedby="addressStatus" required="required" maxlength="50" size="50" />
      <span data-th-classappend="${#fields.hasErrors('address')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('address')}" aria-hidden="true"></span>
      <span id="address-error" class="help-block" data-th-if="${#fields.hasErrors('address')}" data-th-errors="*{address}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="eef9665a" id="vet-city-field" data-th-classappend="${#fields.hasErrors('city')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="city" class="col-md-3 control-label" data-th-text="#{label_vet_city}">city</label>
  <div class="col-md-3">
    <input id="city" name="city" data-th-value="*{{city}}" type="text" class="form-control" placeholder="city" data-th-placeholder="#{label_vet_city}" data-toggle="tooltip" aria-describedby="cityStatus" required="required" maxlength="30" size="30" />
      <span data-th-classappend="${#fields.hasErrors('city')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('city')}" aria-hidden="true"></span>
      <span id="city-error" class="help-block" data-th-if="${#fields.hasErrors('city')}" data-th-errors="*{city}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="12ec7164" id="vet-telephone-field" data-th-classappend="${#fields.hasErrors('telephone')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="telephone" class="col-md-3 control-label" data-th-text="#{label_vet_telephone}">telephone</label>
  <div class="col-md-3">
    <input id="telephone" name="telephone" data-th-value="*{{telephone}}" type="text" class="form-control" placeholder="telephone" data-th-placeholder="#{label_vet_telephone}" data-toggle="tooltip" aria-describedby="telephoneStatus" required="required" />
      <span data-th-classappend="${#fields.hasErrors('telephone')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('telephone')}" aria-hidden="true"></span>
      <span id="telephone-error" class="help-block" data-th-if="${#fields.hasErrors('telephone')}" data-th-errors="*{telephone}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="9f62689a" id="vet-homepage-field" data-th-classappend="${#fields.hasErrors('homePage')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="homePage" class="col-md-3 control-label" data-th-text="#{label_vet_homepage}">homePage</label>
  <div class="col-md-3">
    <input id="homePage" name="homePage" data-th-value="*{{homePage}}" type="text" class="form-control" placeholder="homePage" data-th-placeholder="#{label_vet_homepage}" data-toggle="tooltip" aria-describedby="homePageStatus" maxlength="30" size="30" />
      <span data-th-classappend="${#fields.hasErrors('homePage')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('homePage')}" aria-hidden="true"></span>
      <span id="homePage-error" class="help-block" data-th-if="${#fields.hasErrors('homePage')}" data-th-errors="*{homePage}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="634d68e4" id="vet-email-field" data-th-classappend="${#fields.hasErrors('email')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="email" class="col-md-3 control-label" data-th-text="#{label_vet_email}">email</label>
  <div class="col-md-3">
    <input id="email" name="email" data-th-value="*{{email}}" type="text" class="form-control" placeholder="email" data-th-placeholder="#{label_vet_email}" data-toggle="tooltip" aria-describedby="emailStatus" maxlength="30" size="30" />
      <span data-th-classappend="${#fields.hasErrors('email')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('email')}" aria-hidden="true"></span>
      <span id="email-error" class="help-block" data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="vet-birthday-field" data-z="ed12767a" data-th-classappend="${#fields.hasErrors('birthDay')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="birthDay" class="col-md-3 control-label" data-th-text="#{label_vet_birthday}">birthDay</label>
  <div class="col-md-3">
    <input id="birthDay" name="birthDay" data-th-value="*{{birthDay}}" type="text" class="form-control datetimepicker" placeholder="birthDay" data-th-placeholder="#{label_vet_birthday}" data-th-attr="data-dateformat=${birthDay_date_format}" data-toggle="tooltip" required="required" /> <span data-th-classappend="${#fields.hasErrors('birthDay')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('birthDay')}" aria-hidden="true"></span>
     <span id="birthDay-error" class="help-block" data-th-if="${#fields.hasErrors('birthDay')}" data-th-errors="*{birthDay}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="vet-employedsince-field" data-z="651bcda4" data-th-classappend="${#fields.hasErrors('employedSince')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="employedSince" class="col-md-3 control-label" data-th-text="#{label_vet_employedsince}">employedSince</label>
  <div class="col-md-3">
    <input id="employedSince" name="employedSince" data-th-value="*{{employedSince}}" type="text" class="form-control datetimepicker" placeholder="employedSince" data-th-placeholder="#{label_vet_employedsince}" data-th-attr="data-dateformat=${employedSince_date_format}" data-toggle="tooltip" required="required" /> <span data-th-classappend="${#fields.hasErrors('employedSince')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('employedSince')}" aria-hidden="true"></span>
     <span id="employedSince-error" class="help-block" data-th-if="${#fields.hasErrors('employedSince')}" data-th-errors="*{employedSince}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="be863a24" id="vet-specialty-field" data-th-classappend="${#fields.hasErrors('specialty')}? 'has-error has-feedback'" data-th-class="form-group">
    <label for="specialty" class="col-md-3 control-label" data-th-text="#{label_vet_specialty}">specialty</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{specialty}" class="form-control dropdown-select-simple" data-allow-clear="true" data-th-attr="data-placeholder=#{info_select_an_option}">
         <option data-th-each="item : ${specialty}" data-th-value="${item}" data-th-text="${item}">Value</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('specialty')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('specialty')}" aria-hidden="true"></span>
      <span id="specialty-error" class="help-block" data-th-if="${#fields.hasErrors('specialty')}" data-th-errors="*{specialty}">Error message.</span>
    </div>
</div>

              </fieldset>

              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${(#mvc.url('VetsCollectionThymeleafController#list')).build()}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_submit}">Save</button>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT-->
  </div>
  <!-- /CONTAINER-->

  <footer class="container">
     <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <small class="clearfix">
            Made with <a href="http://projects.spring.io/spring-roo/" target="_blank">
            Spring Roo © 2016</a> •
            We <span class="glyphicon glyphicon-heart"></span>
            <a href="https://github.com/spring-projects/spring-roo/" target="_blank">Open source</a> •
            <a data-th-href="@{/accessibility}" href="../accessibility.html"><span data-th-text="#{label_accessibility}">Accessibility</span></a>
        </small>
        </div>
      </div>
      <!-- certified logos -->
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6 text-right">

         <a title="Explanation of WCAG 2.0 Level Double-A Conformance" target="_blank" href="http://www.w3.org/WAI/WCAG2AA-Conformance">
            <img height="32" width="88" src="http://www.w3.org/WAI/wcag2AA" alt="Level Double-A conformance, W3C WAI Web Content
                 Accessibility Guidelines 2.0">
         </img></a>
         &nbsp;
         <a title="Application developed and tested with OWASP -
             Open Web Application Security Project" target="_blank" href="https://www.owasp.org">
          <img height="32" width="90" src="../../static/public/img/owasp_logo.png" alt="Application developed and tested with OWASP">
         </img></a>
        </div>
      </div>
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JQuery -->
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.3.js"></script>

  <!--/* Bootstrap */-->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>

  <!--/* IE10 viewport hack for Surface/desktop Windows 8 bug */-->
  <script type="text/javascript" charset="utf8" src="../../static/public/js/ie10-viewport-bug-workaround.js"></script>

  <!-- MomentJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.js">
  </script>
  <script src="../../static/public/js/moment-locale-es.js">
  </script>
  <script src="../../static/public/js/moment-defaults.js">
  </script>

  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
        jQuery(document).ready(
	  function() {
	    Inputmask.extendAliases({
	      'numeric' : {
	         'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
	         'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
	       },
	       'currency' : {
	          'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
	          'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
	        }
	    });
	 });
       })(jQuery);
    </script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
    </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
    </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
    </script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
    </script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
         jQuery(document).ready(function() {
	   jQuery.extend( jQuery.validator.messages, {
	     'dateformat' : /*[[#{error_invalid_date}]]*/ 'Please enter a correct date/time',
	     'inputmask': /*[[#{error_invalid_maskValue}]]*/ 'Please enter a valid value',
	   });
	 });
      })(jQuery);
    </script>

    <!-- Select2 -->
    <div data-th-replace="fragments/js/select2 :: select2-js">
      // TODO add js CDN
     </div>


    <script type="text/javascript" data-th-inline="javascript">
      // IIFE - Immediately Invoked Function Expression
      (function(list) {

        // The global jQuery object is passed as a parameter
        list(window.jQuery, window, document);

      }(function($, window, document) {

        // The $ is now locally scoped, it won't collide with other libraries

        // Listen for the jQuery ready event on the document
        // READY EVENT BEGIN
        $(function() {

          // Put this page local javascript here!

        });

        // READY EVENT END
      }));
    </script>

    </div>

    <!-- Application -->
    <script type="text/javascript" charset="utf8" src="../../static/public/js/main.js"></script>

</body>
</html>
